@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap-custom.scss';
@import './core/header/style/_header.scss';
@import './core/footer/style/_footer.scss';
@import './views/home/style/_home.scss';
@import './views/about/style/_about.scss';
@import './views/watch/style/_watch.scss';
html,
body {
    height: 100%
}

.footer-container {
    max-height: 100%;
}

.page-content {
    min-height: 66.7%;
}
